/*
 	#
	# Alamraya Custom Style 
 	#
*/
@font-face {
  font-family: "Myriad Pro Regular";
  src: url(../fonts/Myriad Pro Regular.ttf);
}
body.body-cpanel{
	background-image: url(../img/background-black.png);
}
.table > thead > tr
/*.table > thead > tr > th*/
{
	background-image: linear-gradient(45deg, #7e2424, #f11b2a);
    color: white;
    text-shadow: 2px 2px 2px #4d4d4d;
}
.table > thead > tr > th{
    color: white;
    text-shadow: 2px 2px 2px #4d4d4d;
    background-color: transparent;
}

/*.table.table-sticky {
	position: relative;
}
.table.table-sticky > thead > tr > th,
.table.table-sticky th,
.table.table-sticky thead .sorting_asc,
.table.table-sticky thead .sorting_desc
{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}*/

.table thead .sorting_asc,
.table thead .sorting_desc
{
	background: #911219;
    color: black;
    text-shadow: 0 0 5px white;
}
.table thead tr th{
	text-align: center;
}
.table .form-control {
    width: 100%;
}
.tab-content .ibox .ibox-title{
	border-width: 0;
}
.nav-tabs a .tab-title{
	/*max-width: 0;*/
	transition: .5s;
	overflow: hidden;
	height: 17px;
	display: inline-block;
}
/*.nav-tabs a:hover .tab-title,
.nav-tabs a:focus-within .tab-title,
.nav-tabs .active a .tab-title

{
	max-width: 100%;
}*/
/*.input-group-append > .btn-sm{
	height: 31px;
}
.input-group-append > .btn-md{
	height: 38px;
}
.input-group-append > .btn-lg{
	height: 48px;
}*/
.select2-container--default .select2-selection--single{
	border: 1px solid #ced4da;
}
.form-control ~ .select2-container .select2-selection--single{
	height: 38px;
}
.input-sm ~ .select2-container .select2-selection--single{
	height: 31px;
}
.input-lg ~ .select2-container .select2-selection--single{
	height: 48px;
}
/*.input-group-addon {
    padding: 0 7px 0 7px;
    display: flex;
    align-items: center;
}*/

body.mini-navbar .navbar-default .nav-second-level .arrow,
body.mini-navbar .navbar-default .nav li a .label,
body.mini-navbar .navbar-default .nav-second-level .label
{
	display: block;
}
body.mini-navbar .navbar-default .nav li a{
	position: relative;
}
body.mini-navbar .navbar-default .nav li a .label{
	position: absolute;
	right: 0;
	top: 0;
}

body.mini-navbar .navbar-default .nav.nav-second-level li a .label,
body.mini-navbar .navbar-default .nav.nav-third-level li a .label
{
	position: initial;
	right: unset;
	top: unset;
}

.sidebar-collapse ul > li > a > i {
    width: 15px;
    text-align: center;
}
fieldset {
    border: 1px solid #e7eaec;
    padding: 13px 13px 0px;
    margin-bottom: 1.5rem;
}

.mini-navbar .nav-second-level{
	background-image: url(../img/background-black.png);
}
.nav-header {
    padding: 33px 25px;
    background: url(patterns/header-profile-skin-4.png) no-repeat;
}
.nav > li > a{
	color: #a7b7c2;
}
.metismenu > li.active,
.metismenu .nav > li.active

{
    border-left: 4px solid #f11c2b;
    /*background-image: linear-gradient(90deg, rgba(255,255,255,.2), rgba(255,255,255,0));*/
    background:rgba(255,255,255,.1);
}
.navbar-default .nav > li > a:hover, 
.navbar-default .nav > li > a:focus{
    background:rgba(255,255,255,.2);
    /*background-image: linear-gradient(90deg, rgba(255,255,255,.2), rgba(255,255,255,0));*/

	
}
.metismenu li{
	transition: .3s;
}
.metismenu li.nav-active > a
{
    color: #f11c2b;
    background:rgba(255,255,255,.3);
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    
    transition: .2s ease-in-out;
}

.metismenu li.nav-active > a:hover,
.metismenu li.nav-active > a:focus
{
    color: #f11c2b;
    background:rgba(255,255,255,.1);
    /*text-shadow: initial;*/
    /*text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;*/
    /*background-image: linear-gradient(0deg, #6f0000, #f11c2b);*/
}

.panel-footer{
    background-color: #fafafa;
    border: 1px solid #ddd;
}
.note-editor.note-frame {
    border: 1px solid #e7eaec;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
	vertical-align: middle;
}
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	vertical-align:unset;
}
.table > tfoot > tr > td:has(.btn-group) {
	text-align: center;
}
.modal-xl{
	width: 1500px;
}
@media (max-width: 1600px){
	.modal-xl{
		width: 1300px;
	}
}

@media (max-width: 1366px){
	.modal-xl{
		width: 1024px;
	}
}

@media (max-width: 1024px){
	.modal-xl{
		width: 768px;
	}
}

@media (max-width: 768px){
	.modal-xl{
		width: auto;
	}
}
.select2-container--open {
    z-index: 9999;
}
.clockpicker-popover {
	z-index: 999999 !important;
}
.table .table-checked{
    background-color: #71E9CF !important;
    color: #fff;
}
.table-hover .table-checked:hover,
.table-hover .table-checked:active{
    background-color: #34DFB7 !important;
    color: #fff;
}
.body-loading .div-loading{
	display: initial;
	position: fixed;
	z-index: 999999999;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,.3);
}
.body-loading .div-loading .spiner-example {
    transform: translate(50%, 50%);
    width: 50%;
    height: 50%;
}
.body-loading{
	overflow: initial;
}
.div-loading{
	display: none;
}

.btn-primary{
	background-color: #f3291a;
    border-color: #f3291a;
}
.btn-primary:hover
, .btn-primary:focus
, .btn-primary:active
, .btn-primary.active
, .open .dropdown-toggle.btn-primary
, .btn-primary:active:focus
, .btn-primary:active:hover
, .btn-primary.active:hover
, .btn-primary.active:focus{

  background-color: #c81a0d;
  border-color: #c81a0d;
}

.btn-success{
	background-color: #28a745;
	border-color: #28a745;
}
.btn-success:hover
, .btn-success:focus
, .btn-success:active
, .btn-success.active
, .open .dropdown-toggle.btn-success
, .btn-success:active:focus
, .btn-success:active:hover
, .btn-success.active:hover
, .btn-success.active:focus{
	background-color: #218838;
	border-color: #1e7e34;
}
.label-success,
.badge-success {
  background-color: #1ab394;
  color: #FFFFFF;
}
.label-primary,
.badge-primary {
  background-color: #1c84c6;
  color: #FFFFFF;
}
.table .table.transparent{
	background: transparent;
	font-size: 9pt;
}
.service-content{
    font-size: 12px !important;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}
.justify-content-between{
    justify-content: space-between !important; 
}
.align-items-center{
    align-items:center;
}
.header-service{
    background: #1ab394 !important;
    color: white !important;
    border: 0 !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    display: flex;
    align-items: center;
}
.label-servies{
    background-color: #1ab394 !important;
    color: #fff !important;
}
.services-column:nth-child(2n+0) .services-box .header-service{
  background: #1c84c6 !important;
}
.services-column:nth-child(2n+0) .services-box .label-servies{
    background-color: #1c84c6 !important;
}
.services-column:nth-child(3n+0) .services-box .header-service{
  background: #23c6c8 !important;
}
.services-column:nth-child(3n+0) .services-box .label-servies{
    background-color: #23c6c8 !important;
}
.services-column:nth-child(4n+0) .services-box .header-service{
  background: #f8ac59 !important;
}
.services-column:nth-child(4n+0) .services-box .label-servies{
    background-color: #f8ac59 !important;
}
.services-column:nth-child(5n+0) .services-box .header-service{
  background: #ed5565 !important;
}
.services-column:nth-child(5n+0) .services-box .label-servies{
    background-color: #ed5565 !important;
}